*{
    font-family: Arial, Helvetica, sans-serif;
}


h1{
    border-bottom: 5px dotted #375e97;
    color: #375e97;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.job{
    color: #999999;
}

ul{ 
    padding: 25px;
    border: 5px solid purple;
    background-color: #eeeeee;
}

ul a{
    color:#82b8de;
}